<div>
  <h1>Bienvenid@ {{first_name}}</h1>
  <h3>rol: {{rol}}</h3>
  <a href="/logout">Cerrar sesion</a>
  <br><br><br>
  {{#each products.payload}}
    <div>
      <h3>{{this.title}}</h3>
      <div>Categoria: {{this.category}}</div>
      <div>Descripcion: {{this.description}}</div>
      <div>Precio: ${{this.price}}</div>
      <div>Stock: {{this.stock}}</div>
      <div class="id">{{this._id}}</div>
      <button class="boton" type="submit" value="submit">Agregar al carrito</button>
    </div>
  {{/each}}
</div>
<br />
<div>
  {{#if products.hasPrevPage}}
    <a href={{products.prevLink}}>Pagina anterior</a>
  {{/if}}
  &nbsp; Pag:
  {{products.page}}
  &nbsp;
  {{#if products.hasNextPage}}
    <a href={{products.nextLink}}>Siguiente pagina</a>
  {{/if}}
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/static/js/products.js"></script>